<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Prix Goncourt</title>
</head>
<body>
    <header>
        <h1>Prix Goncourt</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.login') }}">Connexion</a></li>
                <li><a href="{{ url_for('main.public_menu') }}">Menu Public</a></li>
                <li><a href="{{ url_for('main.jury_menu') }}">Menu Jury</a></li>
                <li><a href="{{ url_for('main.president_menu') }}">Menu Président</a></li>
                <li><a href="{{ url_for('main.get_books') }}">Afficher les Livres</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Prix Goncourt</p>
    </footer>
</body>
</html>
