{% extends 'base.html' %}

{% block content %}
<h2>Liste des Livres Disponibles</h2>


<div>
    <label for="selection-date">Choisir la date de sélection :</label>
     <input type="date" id="selection-date" name="selection-date">
    <button id="load-books-by-date">Afficher les Livres par Date</button>

</div>


<div id="book-list">
    <button id="load-books">List de les Livres complete </button>
    <div id="books">

    </div>
</div>


<script src="{{ url_for('static', filename='js/books.js') }}"></script>
{% endblock %}
